:root {
	--color-text: #d0d6f9;
}

@font-face {
	font-family: "Bellefair";
	src: url("../assets/fonts/Bellefair-Regular.otf");
	font-display: swap;
}
@font-face {
	font-family: "BarlowCondensed";
	src: url("../assets/fonts/BarlowCondensed-Regular.ttf");
	font-display: swap;
	font-weight: 400;
}
@font-face {
	font-family: "BarlowCondensed";
	src: url("../assets/fonts/BarlowCondensed-Bold.ttf");
	font-display: swap;
	font-weight: 700;
}
body {
	font-family: "BarlowCondensed", system-ui;
	color: white;
	font-weight: 400;
	background-color: #181929;
}
#__next {
	display: grid;
	grid-template-rows: auto 1fr;
}
.title {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 4.72px;
	font-size: clamp(17px, 1.7vw, 28px);
	padding-bottom: 30px;
	padding-top: 6px;
	margin: 0;
	text-align: center;
}
.title span {
	opacity: 0.25;
}
.subtitle {
	font-family: "Bellefair", system-ui;
	text-transform: uppercase;
	font-size: clamp(27px, 4vw, 40px);
	margin: 10px 0;
}
.paragraph {
	color: var(--color-text);
	max-width: 28.5rem;
	line-height: clamp(22px, 2.3vw, 28px);
	font-size: clamp(15px, 1vw, 18px);
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: auto;
}
.mainPage {
	padding: 0 2rem;
	margin: auto;
	max-width: 75rem;
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}
li {
	list-style: none;
}
a {
	color: white;
	text-decoration: none;
	letter-spacing: 2.7px;
}
@media (min-width: 30rem) {
	.title {
		padding: 30px 0;
		text-align: left;
	}
}
@media (min-width: 40rem) {
	.paragraph {
		margin: 0%;
	}
}
@media (min-width: 84em) {
	.subtitle {
		font-size: 50px;
	}
}

/* ============ SCROLL-BAR ========= */
/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #181929;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(184, 184, 184);
}
/* ========= SELECTION ========== */
::selection {
	background: #d0d6f9;
	color: #181929;
}
/* ======= FOCUS =========== */
:focus-visible {
	outline: 3px dashed #d0d6f9;
	outline-offset: 4px;
	border-radius: 2px;
}
