.sliderRight {
	transform: translateX(30rem);
	position: absolute !important;
}
.planetImgHidden {
	z-index: -10;
	animation: orbitate 1s ease-in-out;
	opacity: 0;
	position: absolute !important;
}
@keyframes orbitate {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}
.planetsInfo [class*="-card"] {
	position: relative;
	transition: transform 0.3s ease-in-out;
}
.planetsMain {
	display: flex;
	justify-content: space-around;
	height: 80%;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.planetsNav ul {
	display: flex;
	gap: 1rem;
	padding: 0;
}
.planetsNav button {
	background: none;
	border: none;
	color: var(--color-text);
	text-transform: uppercase;
	cursor: pointer;
}
.planetsNav button:hover {
	color: white;
}
.planetTitle {
	font-family: "Bellefair", system-ui;
	text-transform: uppercase;
	font-size: 55px;
	margin: 14px 0;
}
.planetTitle + p {
	max-width: 40rem;
	border-bottom: 1px solid beige;
}
.planetData {
	display: flex;
	gap: 2rem;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 15px;
	color: var(--color-text);
}
.planetData span {
	font-family: "Bellefair", system-ui;
	font-size: 25px;
	margin-top: 10px;
	display: block;
	color: white;
}
.planetsInfo {
	overflow: hidden;
	position: relative;
}
.planetsImages {
	max-width: 28rem;
	position: relative;
	display: flex;
	justify-content: center;
}
.planetsImg {
	position: relative;
	transition: all 1s ease-in-out;
	width: 80%;
	margin-top: 2rem;
}
@keyframes orbitate2 {
	0% {
		transform: rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: rotate(0deg);
		opacity: 0;
	}
}
.planetsImg img {
	width: 50%;
	padding: 0 5rem;
}
@media (min-width: 50em) {
	.planetsMain {
		flex-direction: row;
		text-align: left;
	}
	.planetsInfo,
	.planetsNav {
		width: 50%;
	}
}
