:root {
	--color-text: #d0d6f9;
}

@font-face {
	font-family: "Bellefair";
	src: url("../assets/fonts/Bellefair-Regular.otf");
	font-display: swap;
}
@font-face {
	font-family: "BarlowCondensed";
	src: url("../assets/fonts/BarlowCondensed-Regular.ttf");
	font-display: swap;
	font-weight: 400;
}
@font-face {
	font-family: "BarlowCondensed";
	src: url("../assets/fonts/BarlowCondensed-Bold.ttf");
	font-display: swap;
	font-weight: 700;
}

body {
	font-family: "BarlowCondensed", system-ui;
	color: white;
	font-weight: 400;
	background-color: #181929;
}
.subtitle {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 4.72px;
	font-size: clamp(20px, 1.6vw, 28px);
}
.subtitle span {
	opacity: 0.25;
}
.paragraph {
	color: var(--color-text);
	max-width: 28.5rem;
	line-height: 32px;
	font-size: clamp(15px, 1.2vw, 18px);
	letter-spacing: 1px;
	word-spacing: 2px;
}
.mainPage {
	padding: 0 3rem;
	margin: auto;
	max-width: 75rem;
	height: 80vh;
}
li {
	list-style: none;
}

/* ============ SCROLL-BAR ========= */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #1f1f27;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(255, 255, 255);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(184, 184, 184);
}
