.hidden {
	display: none;
}
.header {
	margin-left: 2rem;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}
.closeBtn {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}
.navMobile {
	position: absolute;
	right: 0;
	height: 100vh;
	top: 0;
	transition: right 0.2s ease-in-out;
}
.navMobile ul {
	flex-direction: column;
}
.navShow {
	right: 0;
}
.navHidden {
	right: -100%;
}
.top0 {
	top: 0;
}
.logo {
	object-fit: contain;
	width: 40px;
}
.header nav {
	overflow: hidden;
	background: rgba(255, 255, 255, 4%);
}
.header ul {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	justify-content: space-evenly;
}
.header span {
	font-weight: bold;
}
.header li {
	list-style: none;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
}
.header li::after {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	background: white;
	bottom: -2.8rem;
	transition: bottom 0.2s ease-in-out;
}
.header li:hover::after {
	bottom: -2.5rem;
}
.header a {
	color: white;
	text-decoration: none;
	letter-spacing: 2.7px;
}
.header a:hover {
	opacity: 0.8;
}
@media (min-width: 50em) {
	.header {
		margin-top: 1.5rem;
	}
	.header ul {
		padding: 1rem;
	}
	.header nav {
		backdrop-filter: blur(40px);
		width: 60%;
	}
	.header::after {
		content: "";
		position: absolute;
		width: 36%;
		height: 1px;
		background: white;
		top: 50%;
		left: 4rem;
		transform: translateY(-50%);
		z-index: 5;
	}
}

@media (min-width: 83em) {
	.header {
		margin-top: 2.5rem;
		margin-left: 3.3rem;
	}
	.header img {
		width: auto !important;
	}
	.header ul {
		padding: 1.5rem 0;
	}
}
