.header {
	margin: 15px 20px;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}
.navContainer nav {
	position: absolute;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(40px);
	top: 0;
	right: -100%;
	background: rgba(255, 255, 255, 4%);
	display: flex;
	align-items: center;
	transition: right 0.2s ease-in-out;
	overflow: hidden;
}
.navContainer {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	overflow: hidden;
	width: clamp(13rem, 35%, 20rem);
}
.navContainer nav ul {
	display: flex;
	gap: 1.3rem;
	padding: 1rem 2rem;
	justify-content: space-evenly;
	flex-direction: column;
}
.menuBtn {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	cursor: pointer;
	position: fixed;
	right: 0;
	margin-right: 10px;
	z-index: 80;
}
.navMobile {
	position: absolute;
	right: 0;
	height: 100vh;
	top: 0;
	transition: right 0.2s ease-in-out;
}
.navMobile ul {
	flex-direction: column;
}
.navShow {
	right: 0 !important;
}
.top0 {
	top: 0;
}
.logo {
	object-fit: contain;
	width: 30px;
}
.header span {
	font-weight: bold;
}
.header li {
	list-style: none;
	font-size: clamp(15px, 3vw, 16px);
	text-transform: uppercase;
	position: relative;
}
.header a {
	color: white;
	text-decoration: none;
	letter-spacing: 2.7px;
}

@media (min-width: 50em) {
	.header {
		margin: 1.5rem 0 0 2rem;
	}
	.header li::after {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		background: white;
		bottom: -2.8rem;
		transition: bottom 0.2s ease-in-out;
	}
	.header li:hover::after {
		bottom: -2.5rem;
	}
	.header a:hover {
		opacity: 0.8;
	}
	.navContainer {
		height: auto;
		width: auto;
		position: static;
		width: 70%;
		z-index: 50 !important;
	}
	.navContainer nav {
		backdrop-filter: blur(40px);
		position: static;
		height: auto;
		display: block;
	}
	.navContainer nav ul {
		padding: 1rem 2rem;
		flex-direction: row;
	}
	.header::after {
		content: "";
		position: absolute;
		width: 33%;
		height: 1px;
		background: white;
		top: 50%;
		left: 4rem;
		transform: translateY(-50%);
		z-index: 5;
	}
	.menuBtn {
		display: none;
	}
	.logo {
		width: auto;
	}
}

@media (min-width: 83em) {
	.header {
		margin-top: 2.5rem;
		margin-left: 3.3rem;
	}
	.header img {
		width: auto !important;
	}
	.header ul {
		padding: 1.5rem 0;
	}
}
