.main {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	gap: 2rem;
	padding: 1.5rem;
	height: 85vh;
	max-height: 60rem;
}
.main p {
	padding-top: 5px;
	padding-left: 2px;
}
.title {
	text-transform: uppercase;
	letter-spacing: 4.72px;
	font-size: clamp(14px, 2.3vw, 20px);
	font-weight: normal;
	color: #d0d6f9;
}
.title span {
	font-family: "Bellefair";
	font-size: clamp(75px, 10vw, 105px);
	letter-spacing: 0;
	color: white;
	padding-top: 10px;
	display: inline-block;
}
.exploreBtn {
	display: grid;
	place-items: center;
	width: 13rem;
	height: 13rem;
	background: white;
	border-radius: 100%;
	font-family: "Bellefair";
	text-transform: uppercase;
	font-size: clamp(23px, 1.9vw, 32px);
	font-weight: bold;
	color: black;
	text-decoration: none;
	letter-spacing: 2px;
	position: relative;
	transition: transform 0.2s ease-in-out;
}
.exploreBtn:hover {
	transform: scale(1.05);
}
.exploreBtn::after,
.exploreBtn::before {
	content: "";
	position: absolute;
	background: white;
	opacity: 0.5;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 0.5s ease;
	z-index: -5;
	pointer-events: none;
}

@media (min-width: 50em) {
	.exploreBtn:hover::after {
		animation: pulse 2s infinite;
	}
	.exploreBtn:hover::before {
		animation: pulse 2s 1s infinite;
	}
	@keyframes pulse {
		0% {
			transform: translate(-50%, -50%) scale(0.95);
			opacity: 1;
		}
		100% {
			transform: translate(-50%, -50%) scale(1.5);
			opacity: 0;
		}
	}
	.main {
		display: block;
		text-align: left;
		gap: 0;
		height: 75vh;
		margin: auto;
		max-width: 94rem;
	}
	.main > div {
		margin-top: 12%;
		margin-left: 8%;
	}
	.exploreBtn {
		position: absolute;
		bottom: 14.5%;
		right: 11.5%;
	}
	.title span {
		padding-top: 23px;
	}
	.main p {
		max-width: 25rem;
	}
}
@media (min-width: 60em) {
	.main > div {
		margin-top: 11%;
		margin-left: 10%;
	}
}
@media (min-width: 87em) {
	.main > div {
		margin-top: 17.5%;
		margin-left: 11.5%;
	}
	.exploreBtn {
		width: 17rem;
		height: 17rem;
	}
	.title span {
		font-size: 150px;
	}
}
/*
@media (min-width:320px) 20em  { /* smartphones, iPhone, portrait 480x320 phones
@media (min-width:481px) 30em  { /* portrait e-readers (Nook/Kindle), smaller tablets
@media (min-width:641px) 40em { /* portrait tablets, portrait iPad, landscape e-readers
@media (min-width:961px) 60em  { /* tablet, landscape iPad, lo-res laptops ands desktops
@media (min-width:1025px) 64em { /* big landscape tablets, laptops, and desktops
@media (min-width:1281px) 80em { /* hi-res laptops and desktops
*/
