.title {
	padding-left: 30px;
}
.imgHidden,
.sliderHidden {
	opacity: 0;
	position: absolute;
	top: 0;
}
.imgHidden {
	transform: translateX(100%);
}
.sliderHidden {
	transform: translateX(-100%);
}
.mainPage {
	padding: 0;
}
.terminology {
	text-transform: uppercase;
	letter-spacing: 2.7px;
	color: var(--color-text);
	font-size: 14px;
}
.main {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.infoContainer [class*="-card"] {
	transition: 0.3s ease-in-out;
	padding: 0 2.5rem;
}
.techImages * {
	height: 100% !important;
	width: 100% !important;
}
.techImages {
	overflow: hidden;
	position: relative;
	order: -1;
	width: 100%;
	height: 35%;
}
.techBtn {
	width: 3rem;
	height: 3rem;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: none;
	border-radius: 100%;
	color: white;
	cursor: pointer;
	font-size: 18px;
	font-family: "Bellefair", system-ui;
	line-height: 3rem;
}
.techBtn:hover {
	border: 1px solid rgba(255, 255, 255);
}
.btnActive {
	background: white;
	color: black;
}
.techNav {
	display: flex;
	gap: 1rem;
	flex-direction: row;
}
.infoContainer {
	position: relative;
}
.techImg {
	transition: 0.3s ease-in-out;
}
.techImg img {
	object-fit: cover;
	height: 0 !important;
	object-position: top;
}
@media (min-width: 50em) {
	.techNav {
		flex-direction: column;
	}
	.main {
		flex-direction: row;
		padding-left: 3rem;
		height: 87%;
		gap: 3rem;
		text-align: left;
	}
	.techImages {
		order: 0;
		position: absolute;
		right: 0;
		height: 70%;
		width: 40%;
	}
	.infoContainer {
		width: 40%;
		max-width: 25rem;
		overflow: hidden;
	}
	.infoContainer [class*="-card"] {
		padding: 0;
	}
	.techBtn {
		width: 4rem;
		height: 4rem;
		font-size: 20px;
		line-height: 4rem;
	}
}
@media (min-width: 84em) {
	.infoContainer {
		max-width: 31rem;
	}
	.terminology {
		font-size: 18px;
	}
}
